{% extends 'base.html' %}

{% block content %}
<p class="lead">URL List.</p>

<ol class="linklist">
    {% for object in object_list %}
    {% ifchanged object.pub_date.day %}
    <div class="datetime">Added {{ object.pub_date|date:"l, F jS Y" }}</div>
    {% endifchanged %}
    <li>
        {% if object.note %}<span class="note">{{ object.note_html|safe }}</span>{% endif %}
        <small>Original URL: {{object.link}}</small>
        <small>Shortened: <a href="{{BASE_URL}}{{object.get_absolute_url}}">{{BASE_URL}}{{object.get_absolute_url}}</a></small>
    </li>
    {% empty %}
    <li>No links added yet.</li>
{% endfor %}
</ol>
{% endblock %}
